@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <title></title>
</head>
<body>
    <div>
        <h1>Home</h1>
    </div>
</body>
</html>
